BODY
{
	margin-top: 0px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 0px;
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
}

button
{
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	width: auto;
	overflow: visible;
	text-align: center;
	white-space: nowrap;
	height: 40px;
	line-height: 38px;
}
button span, button em
{
	display: block;
	height: 40px;
	line-height: 38px;
	margin: 0;
	color: #954b05;
}
button span
{
	padding-left: 5px;
	background: url('button.gif') no-repeat 0 0;
}
button em
{
	font-style: normal;
	padding-right: 5px;
	background: url('button.gif') no-repeat 100% 0;
}

span
{
	color: #954b05;
	font-weight: bold;
	background-color: #F7F7DE;
}
